.heading {
    margin: 0;
    font-size: 1rem;
}

.tabsContainer {
    padding: 0;
}

.content {
    padding: 30px;
}

.storiesContainer {
    margin-top: 15px;
}
.ndtvsportsdiv{
    width: 100%;
    height:100%;
}